.App {
    /* background-color: #eeeee4; */
    min-height: 100vh;

    /* font-size: calc(50px + 2vmin); */
    color: #063970;
    font-family: "Archivo Black", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.page {
    padding: 30px;
    z-index: 1;
}
.nameContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}
.nameHeader {
    /* text-align: center; */
    container-type: inline-size;
    width: 100%;
}
.name {
    font-size: 11.2cqw;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.description {
    font-size: 3cqw;
}

@media only screen and (max-width: 600px) {
    .name {
        font-size: 18cqw;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
    .description {
        font-size: 5cqw;
    }
}
.container {
    /* position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(-0%, 0%);
    width: 100vw;
    height: 50vh; */
}
.sketch {
    z-index: -1;
    position: fixed;
}
